# MetaData

In [1]:
import pandas as pd
from RecData import RecData
from pprint import pprint
import numpy as np
import random

In [2]:
# recs = pd.read_csv('data/recommendations.csv')
# recs = pd.read_csv('data/pruned.csv')
# recs = pd.read_csv('data/2plus.csv')
recs = pd.read_csv('data/full_pruned.csv')

# recs = recs[:5]


recs = recs.sort_values(by='date')
recs = recs.drop_duplicates(subset=['user_id', 'app_id'], keep='last')

USED_COLS = ['app_id', 'is_recommended', 'user_id']
recs = recs[USED_COLS]

item_data = pd.read_csv('data/games.csv')
titles = item_data[['app_id', 'title']]

print("Shape:", recs.shape)
recs.sort_values(by=['user_id', 'app_id']).head()

Shape: (1482464, 3)

        app_id  is_recommended  user_id
420790   12210            True      240
675882   22380            True      240
246231  239140            True      240
539676  251570            True      240
521289  270880            True      240

In [3]:
random.seed(42)
np.random.seed(42)
rec_data = RecData()
rec_data.create_from_dataframe(recs)
rec_data.set_titles(titles)

# del recs

print("Creating splits...")
train_data, val = rec_data.leave_k_out_split(k=1, create_val=False)
print("Done creating splits.")

Creating utility matrix...
Done utility matrix.
Creating splits...
Done user 1 / 63175
Done user 10001 / 63175
Done user 20001 / 63175
Done user 30001 / 63175
Done user 40001 / 63175
Done user 50001 / 63175
Done user 60001 / 63175
Done creating splits.

## Content Based

In [4]:
meta_data = pd.read_json('data/games_metadata.json', lines=True)
meta_data.head()

,app_id,description,tags
0,10090,"Call of Duty is back, redefining war like you'...","[Zombies, World War II, FPS, Multiplayer, Acti..."
1,13500,Enter the dark underworld of Prince of Persia ...,"[Action, Adventure, Parkour, Third Person, Gre..."
2,22364,,[Action]
3,113020,Monaco: What's Yours Is Mine is a single playe...,"[Co-op, Stealth, Indie, Heist, Local Co-Op, St..."
4,226560,Escape Dead Island is a Survival-Mystery adven...,"[Zombies, Adventure, Survival, Action, Third P..."

In [5]:
meta_data = meta_data[meta_data['app_id'].isin(recs['app_id'])]
meta_data.shape

(2215, 3)

In [6]:
meta_data['app_id'] = meta_data['app_id'].apply(lambda id: train_data.item_id_to_index(id))
meta_data.head()

,app_id,description,tags
0,34,"Call of Duty is back, redefining war like you'...","[Zombies, World War II, FPS, Multiplayer, Acti..."
1,98,Enter the dark underworld of Prince of Persia ...,"[Action, Adventure, Parkour, Third Person, Gre..."
3,173,Monaco: What's Yours Is Mine is a single playe...,"[Co-op, Stealth, Indie, Heist, Local Co-Op, St..."
4,327,Escape Dead Island is a Survival-Mystery adven...,"[Zombies, Adventure, Survival, Action, Third P..."
6,229,"“METAL SLUG 3”, the masterpiece in SNK’s emble...","[Arcade, Classic, Action, Co-op, Side Scroller..."

In [7]:
meta_data = meta_data.sort_values(by='app_id')
meta_data.head()

,app_id,description,tags
267,0,The sequel to the million-plus selling Dead Ri...,"[Zombies, Action, Open World, Co-op, Adventure..."
9698,1,"Create, discover, and download new player-crea...","[Turn-Based Strategy, Strategy, Turn-Based, Mu..."
11955,2,Fight in the theatre of war that changed the w...,"[World War II, Action, FPS, Realistic, Multipl..."
16484,3,Ride your music. Audiosurf is a music-adapting...,"[Music, Rhythm, Indie, Casual, Music-Based Pro..."
10445,4,Counter-Strike: Source blends Counter-Strike's...,"[Shooter, Action, FPS, Multiplayer, Team-Based..."

In [8]:
from sklearn.preprocessing import MultiLabelBinarizer, LabelBinarizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [9]:
mlb = MultiLabelBinarizer(sparse_output=True)
meta_tags = meta_data.join(pd.DataFrame.sparse.from_spmatrix(
    mlb.fit_transform(meta_data.pop('tags')),
    index=meta_data.index,
    columns=mlb.classes_
))
meta_tags.head()

,app_id,description,1980s,1990's,2.5D,2D,2D Fighter,2D Platformer,360 Video,3D,...,Well-Written,Werewolves,Western,Wholesome,Word Game,World War I,World War II,Wrestling,Zombies,eSports
267,0,The sequel to the million-plus selling Dead Ri...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9698,1,"Create, discover, and download new player-crea...",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11955,2,Fight in the theatre of war that changed the w...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
16484,3,Ride your music. Audiosurf is a music-adapting...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10445,4,Counter-Strike: Source blends Counter-Strike's...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [10]:
genre_data = meta_tags.drop(columns=['description'])
genre_data.head()

,app_id,1980s,1990's,2.5D,2D,2D Fighter,2D Platformer,360 Video,3D,3D Fighter,...,Well-Written,Werewolves,Western,Wholesome,Word Game,World War I,World War II,Wrestling,Zombies,eSports
267,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9698,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11955,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
16484,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10445,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [11]:
desc_data = meta_tags[['app_id', 'description']]
desc_data.head()

       app_id                                        description
267         0  The sequel to the million-plus selling Dead Ri...
9698        1  Create, discover, and download new player-crea...
11955       2  Fight in the theatre of war that changed the w...
16484       3  Ride your music. Audiosurf is a music-adapting...
10445       4  Counter-Strike: Source blends Counter-Strike's...

In [12]:
tf = TfidfVectorizer()
X = tf.fit_transform(desc_data['description'])

In [13]:
desc_feats = desc_data.join(pd.DataFrame.sparse.from_spmatrix(X, index=desc_data.index))
desc_feats = desc_feats.drop(columns=['description'])
desc_feats.head()

,app_id,0,1,2,3,4,5,6,7,8,...,10057,10058,10059,10060,10061,10062,10063,10064,10065,10066
267,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9698,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11955,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16484,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10445,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
meta_all = genre_data.merge(desc_feats, on='app_id')
meta_all.head()

,app_id,1980s,1990's,2.5D,2D,2D Fighter,2D Platformer,360 Video,3D,3D Fighter,...,10057,10058,10059,10060,10061,10062,10063,10064,10065,10066
0,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Trying to add more information.

In [15]:
games = pd.read_csv('data/games.csv')
games.head()

,app_id,title,date_release,win,mac,linux,rating,positive_ratio,user_reviews,price_final,price_original,discount,steam_deck
0,10090,Call of Duty: World at War,2008-11-18,True,False,False,Very Positive,92,37039,19.99,19.99,0.0,True
1,13500,Prince of Persia: Warrior Within™,2008-11-21,True,False,False,Very Positive,84,2199,9.99,9.99,0.0,True
2,22364,BRINK: Agents of Change,2011-08-03,True,False,False,Positive,85,21,2.99,2.99,0.0,True
3,113020,Monaco: What's Yours Is Mine,2013-04-24,True,True,True,Very Positive,92,3722,14.99,14.99,0.0,True
4,226560,Escape Dead Island,2014-11-18,True,False,False,Mixed,61,873,14.99,14.99,0.0,True

In [16]:
games = games[games['app_id'].isin(recs['app_id'])]
games['app_id'] = games['app_id'].apply(lambda id: train_data.item_id_to_index(id))
games = games.sort_values(by='app_id')
games.head()

,app_id,title,date_release,win,mac,linux,rating,positive_ratio,user_reviews,price_final,price_original,discount,steam_deck
267,0,Dead Rising® 2,2010-09-27,True,False,False,Mostly Positive,78,4317,19.99,19.99,0.0,True
9698,1,Sid Meier's Civilization® V,2010-09-21,True,True,True,Overwhelmingly Positive,96,115749,29.99,29.99,0.0,True
11955,2,Red Orchestra: Ostfront 41-45,2006-03-14,True,True,True,Very Positive,84,1282,4.99,4.99,0.0,True
16484,3,AudioSurf,2008-02-15,True,False,False,Overwhelmingly Positive,95,8396,9.99,9.99,0.0,True
10445,4,Counter-Strike: Source,2004-11-01,True,True,True,Overwhelmingly Positive,96,99952,9.99,9.99,0.0,True

In [17]:
mlb = LabelBinarizer(sparse_output=True)
games = games.join(pd.DataFrame.sparse.from_spmatrix(
    mlb.fit_transform(games.pop('rating')),
    index=games.index,
    columns=mlb.classes_
))
games.head()

,app_id,title,date_release,win,mac,linux,positive_ratio,user_reviews,price_final,price_original,discount,steam_deck,Mixed,Mostly Negative,Mostly Positive,Overwhelmingly Positive,Positive,Very Positive
267,0,Dead Rising® 2,2010-09-27,True,False,False,78,4317,19.99,19.99,0.0,True,0,0,1,0,0,0
9698,1,Sid Meier's Civilization® V,2010-09-21,True,True,True,96,115749,29.99,29.99,0.0,True,0,0,0,1,0,0
11955,2,Red Orchestra: Ostfront 41-45,2006-03-14,True,True,True,84,1282,4.99,4.99,0.0,True,0,0,0,0,0,1
16484,3,AudioSurf,2008-02-15,True,False,False,95,8396,9.99,9.99,0.0,True,0,0,0,1,0,0
10445,4,Counter-Strike: Source,2004-11-01,True,True,True,96,99952,9.99,9.99,0.0,True,0,0,0,1,0,0

In [18]:
games['date_release'] = pd.to_datetime(games['date_release']).dt.strftime("%Y%m%d")
games['date_release'] = games['date_release'].astype(int)
print(games['date_release'].dtype)
games.head()

int32

,app_id,title,date_release,win,mac,linux,positive_ratio,user_reviews,price_final,price_original,discount,steam_deck,Mixed,Mostly Negative,Mostly Positive,Overwhelmingly Positive,Positive,Very Positive
267,0,Dead Rising® 2,20100927,True,False,False,78,4317,19.99,19.99,0.0,True,0,0,1,0,0,0
9698,1,Sid Meier's Civilization® V,20100921,True,True,True,96,115749,29.99,29.99,0.0,True,0,0,0,1,0,0
11955,2,Red Orchestra: Ostfront 41-45,20060314,True,True,True,84,1282,4.99,4.99,0.0,True,0,0,0,0,0,1
16484,3,AudioSurf,20080215,True,False,False,95,8396,9.99,9.99,0.0,True,0,0,0,1,0,0
10445,4,Counter-Strike: Source,20041101,True,True,True,96,99952,9.99,9.99,0.0,True,0,0,0,1,0,0

In [19]:
tfidf = TfidfVectorizer()
games = games.join(pd.DataFrame.sparse.from_spmatrix(
    tfidf.fit_transform(games.pop('title')),
    index=games.index,
))
games.head()

,app_id,date_release,win,mac,linux,positive_ratio,user_reviews,price_final,price_original,discount,...,3035,3036,3037,3038,3039,3040,3041,3042,3043,3044
267,0,20100927,True,False,False,78,4317,19.99,19.99,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9698,1,20100921,True,True,True,96,115749,29.99,29.99,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11955,2,20060314,True,True,True,84,1282,4.99,4.99,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16484,3,20080215,True,False,False,95,8396,9.99,9.99,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10445,4,20041101,True,True,True,96,99952,9.99,9.99,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
meta_all.merge(games, on='app_id')
meta_all.head()

,app_id,1980s,1990's,2.5D,2D,2D Fighter,2D Platformer,360 Video,3D,3D Fighter,...,10057,10058,10059,10060,10061,10062,10063,10064,10065,10066
0,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
desc_sims = cosine_similarity(desc_feats.drop(columns=['app_id']), dense_output=True)
genre_sims = cosine_similarity(genre_data.drop(columns=['app_id']), dense_output=True)
meta_sims = cosine_similarity(meta_all.drop(columns=['app_id']), dense_output=True)

In [22]:
from KNN import ContentKNN
from pprint import pprint

In [23]:
genre_knn = ContentKNN(k=40)
genre_knn.fit(genre_data.drop(columns=['app_id']))
desc_knn = ContentKNN(k=40)
desc_knn.fit(desc_feats.drop(columns=['app_id']))
meta_knn = ContentKNN(k=40)
meta_knn.fit(meta_all.drop(columns=['app_id']))

## Genre KNN

In [24]:
train_data.search_title('dave')

[('DAVE THE DIVER', 2147)]

In [25]:
prefs = train_data.create_prefs([(810, 1), (0, 0), (618, 1), (642, 1), (39, 0), (1397, 0), (1292, 0)])
top = genre_knn.top_n(13, 10, prefs=prefs)
pprint(top)
pprint([train_data.index_to_title(i) for r, i in top])

[(0.14363035503530272, 988),
 (0.13613746333517893, 767),
 (0.13610089180336565, 1033),
 (0.1345486157918661, 1422),
 (0.13428636817775733, 1123),
 (0.13141650915222222, 1032),
 (0.12896449260870121, 1086),
 (0.1289580346605085, 731),
 (0.1289580346605085, 1532),
 (0.1289580346605085, 1746)]
['The Golf Club™ 2019 featuring PGA TOUR',
 'Capitalism 2',
 'Project Hospital',
 'Blackjack Championship',
 'Star Chef: Cooking & Restaurant Game',
 'Virtual Villagers Origins 2',
 'Wizard And Minion Idle',
 'Production Line : Car factory simulation',
 'Nebuchadnezzar',
 'Lords and Villeins']

## Description KNN

In [26]:
train_data.search_title('runescape')

[('Old School RuneScape', 1537), ('RuneScape ®', 1454)]

In [27]:
prefs = train_data.create_prefs([(810, 1), (0, 0), (145, 0), (1326, 1), (285, 0), (1032, 0), (26, 0), (2122, 0)])
top = desc_knn.top_n(13, 10, prefs=prefs)
pprint(top)
pprint([train_data.index_to_title(i) for r, i in top])

[(0.034450092510193084, 1247),
 (0.034445284008807996, 2139),
 (0.03199737286510107, 1121),
 (0.031389347624519816, 628),
 (0.02831234758390965, 1149),
 (0.027882929723099026, 2127),
 (0.025575072100385555, 1089),
 (0.024389197606743955, 1202),
 (0.02409232868631431, 308),
 (0.024025346315006513, 595)]
['Unity of Command II',
 'Cosmoteer: Starship Architect & Commander',
 'SUPER DRAGON BALL HEROES WORLD MISSION',
 'Shadowverse CCG',
 'Iron Marines',
 'Right and Down',
 "Conqueror's Blade",
 'Fantasy General II',
 'TRON 2.0',
 'Crossout']

## Ensemble KNN

In [21]:
from KNN import EnsembleKNN, ItemKNN
import pickle

In [29]:
import numba as nb
from numba import jit
from KNN import ItemKNN

model_dir = "saved_models/knn/sim1.pkl" 

with open(model_dir, 'rb') as file:
    train_data, sims, means = pickle.load(file)

@jit
def make_dict(items):
    return {k: v for k,v in items}

means_prime = make_dict(tuple(means.items()))
knn = ItemKNN(k=40, mean_centered=True, iuf=False)
knn._sims = sims
knn._item_means = means_prime
knn._num_users, knn._num_items = train_data.get_matrix().shape
knn._M = train_data.get_matrix()
knn._store_rating_pairs(knn._M)
knn._store_item_means(knn._M)

C:\Users\mitch\AppData\Local\Temp\ipykernel_19088\1534073109.py:10: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  @jit
c:\Users\mitch\anaconda3\envs\game-rec\Lib\site-packages\numba\core\object_mode_passes.py:151: NumbaWarning: Function "make_dict" was compiled in object mode without forceobj=True.

File "..\..\..\AppData\Local\Temp\ipykernel_19088\1534073109.py", line 10:
<source missing, REPL/exec in use?>

  warnings.warn(errors.NumbaWarning(warn_msg,
c:\Users\mitch\anaconda3\envs\game-rec\Lib\site-packages\numba\core\object_mode_passes.py:161: NumbaDeprecationWarning:
Fall-back from the nopython compilation path to the object mode compilation path has been detected. This is deprecated behaviour that will be removed in Numba 0.59.0.

For more information visit https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit

File "..\..\..\AppData\Local\Temp\ipykernel_19088\1534073109.py", line 10:
<source missing, REPL/exec in use?>

  warnings.warn(errors.NumbaDeprecationWarning(msg,

Storing ratings in dictionary...
Done storing in dictionary.
Computing item means...
Done item 1 / 2215
Done item 101 / 2215
Done item 201 / 2215
Done item 301 / 2215
Done item 401 / 2215
Done item 501 / 2215
Done item 601 / 2215
Done item 701 / 2215
Done item 801 / 2215
Done item 901 / 2215
Done item 1001 / 2215
Done item 1101 / 2215
Done item 1201 / 2215
Done item 1301 / 2215
Done item 1401 / 2215
Done item 1501 / 2215
Done item 1601 / 2215
Done item 1701 / 2215
Done item 1801 / 2215
Done item 1901 / 2215
Done item 2001 / 2215
Done item 2101 / 2215
Done item 2201 / 2215
Done computing item means.

### Collaborative Filtering Test

In [4]:
from KNN import ItemKNN

In [5]:
knn = ItemKNN(k=40, mean_centered=False, iuf=False)
knn.fit(train_data.get_matrix())

Storing ratings in dictionary...
Done storing in dictionary.
Upto row 0
Upto row 1
Upto row 2
Upto row 3
Upto row 4
Upto row 5
Upto row 6
Upto row 7
Upto row 8
Upto row 9
Upto row 10
Upto row 11
Upto row 12
Upto row 13
Upto row 14
Upto row 15
Upto row 16
Upto row 17
Upto row 18
Upto row 19
Upto row 20
Upto row 21
Upto row 22
Upto row 23
Upto row 24
Upto row 25
Upto row 26
Upto row 27
Upto row 28
Upto row 29
Upto row 30
Upto row 31
Upto row 32
Upto row 33
Upto row 34
Upto row 35
Upto row 36
Upto row 37
Upto row 38
Upto row 39
Upto row 40
Upto row 41
Upto row 42
Upto row 43
Upto row 44
Upto row 45
Upto row 46
Upto row 47
Upto row 48
Upto row 49
Upto row 50
Upto row 51
Upto row 52
Upto row 53
Upto row 54
Upto row 55
Upto row 56
Upto row 57
Upto row 58
Upto row 59
Upto row 60
Upto row 61
Upto row 62
Upto row 63
Upto row 64
Upto row 65
Upto row 66
Upto row 67
Upto row 68
Upto row 69
Upto row 70
Upto row 71
Upto row 72
Upto row 73
Upto row 74
Upto row 75
Upto row 76
Upto row 77
Upto row 78
Upto row 79
Upto row 80
Upto row 81
Upto row 82
Upto row 83
Upto row 84
Upto row 85
Upto row 86
Upto row 87
Upto row 88
Upto row 89
Upto row 90
Upto row 91
Upto row 92
Upto row 93
Upto row 94
Upto row 95
Upto row 96
Upto row 97
Upto row 98
Upto row 99
Upto row 100
Upto row 101
Upto row 102
Upto row 103
Upto row 104
Upto row 105
Upto row 106
Upto row 107
Upto row 108
Upto row 109
Upto row 110
Upto row 111
Upto row 112
Upto row 113
Upto row 114
Upto row 115
Upto row 116
Upto row 117
Upto row 118
Upto row 119
Upto row 120
Upto row 121
Upto row 122
Upto row 123
Upto row 124
Upto row 125
Upto row 126
Upto row 127
Upto row 128
Upto row 129
Upto row 130
Upto row 131
Upto row 132
Upto row 133
Upto row 134
Upto row 135
Upto row 136
Upto row 137
Upto row 138
Upto row 139
Upto row 140
Upto row 141
Upto row 142
Upto row 143
Upto row 144
Upto row 145
Upto row 146
Upto row 147
Upto row 148
Upto row 149
Upto row 150
Upto row 151
Upto row 152
Upto row 153
Upto row 154
Upto row 155
Upto row 156
Upto row 157
Upto row 158
Upto row 159
Upto row 160
Upto row 161
Upto row 162
Upto row 163
Upto row 164
Upto row 165
Upto row 166
Upto row 167
Upto row 168
Upto row 169
Upto row 170
Upto row 171
Upto row 172
Upto row 173
Upto row 174
Upto row 175
Upto row 176
Upto row 177
Upto row 178
Upto row 179
Upto row 180
Upto row 181
Upto row 182
Upto row 183
Upto row 184
Upto row 185
Upto row 186
Upto row 187
Upto row 188
Upto row 189
Upto row 190
Upto row 191
Upto row 192
Upto row 193
Upto row 194
Upto row 195
Upto row 196
Upto row 197
Upto row 198
Upto row 199
Upto row 200
Upto row 201
Upto row 202
Upto row 203
Upto row 204
Upto row 205
Upto row 206
Upto row 207
Upto row 208
Upto row 209
Upto row 210
Upto row 211
Upto row 212
Upto row 213
Upto row 214
Upto row 215
Upto row 216
Upto row 217
Upto row 218
Upto row 219
Upto row 220
Upto row 221
Upto row 222
Upto row 223
Upto row 224
Upto row 225
Upto row 226
Upto row 227
Upto row 228
Upto row 229
Upto row 230
Upto row 231
Upto row 232
Upto row 233
Upto row 234
Upto row 235
Upto row 236
Upto row 237
Upto row 238
Upto row 239
Upto row 240
Upto row 241
Upto row 242
Upto row 243
Upto row 244
Upto row 245
Upto row 246
Upto row 247
Upto row 248
Upto row 249
Upto row 250
Upto row 251
Upto row 252
Upto row 253
Upto row 254
Upto row 255
Upto row 256
Upto row 257
Upto row 258
Upto row 259
Upto row 260
Upto row 261
Upto row 262
Upto row 263
Upto row 264
Upto row 265
Upto row 266
Upto row 267
Upto row 268
Upto row 269
Upto row 270
Upto row 271
Upto row 272
Upto row 273
Upto row 274
Upto row 275
Upto row 276
Upto row 277
Upto row 278
Upto row 279
Upto row 280
Upto row 281
Upto row 282
Upto row 283
Upto row 284
Upto row 285
Upto row 286
Upto row 287
Upto row 288
Upto row 289
Upto row 290
Upto row 291
Upto row 292
Upto row 293
Upto row 294
Upto row 295
Upto row 296
Upto row 297
Upto row 298
Upto row 299
Upto row 300
Upto row 301
Upto row 302
Upto row 303
Upto row 304
Upto row 305
Upto row 306
Upto row 307
Upto row 308
Upto row 309
Upto row 310
Upto row 311
Upto row 312
Upto row 313
Upto row 314
Upto row 315
Upto row 316
Upto row 317
Upto row 318
Upto row 319
Upto row 320
Upto row 321
Upto row 322
Upto row 323
Upto row 324
Upto row 325
Upto row 326
Upto row 327
Upto row 328
Upto row 329
Upto row 330
Upto row 331
Upto row 332
Upto row 333
Upto row 334
Upto row 335
Upto row 336
Upto row 337
Upto row 338
Upto row 339
Upto row 340
Upto row 341
Upto row 342
Upto row 343
Upto row 344
Upto row 345
Upto row 346
Upto row 347
Upto row 348
Upto row 349
Upto row 350
Upto row 351
Upto row 352
Upto row 353
Upto row 354
Upto row 355
Upto row 356
Upto row 357
Upto row 358
Upto row 359
Upto row 360
Upto row 361
Upto row 362
Upto row 363
Upto row 364
Upto row 365
Upto row 366
Upto row 367
Upto row 368
Upto row 369
Upto row 370
Upto row 371
Upto row 372
Upto row 373
Upto row 374
Upto row 375
Upto row 376
Upto row 377
Upto row 378
Upto row 379
Upto row 380
Upto row 381
Upto row 382
Upto row 383
Upto row 384
Upto row 385
Upto row 386
Upto row 387
Upto row 388
Upto row 389
Upto row 390
Upto row 391
Upto row 392
Upto row 393
Upto row 394
Upto row 395
Upto row 396
Upto row 397
Upto row 398
Upto row 399
Upto row 400
Upto row 401
Upto row 402
Upto row 403
Upto row 404
Upto row 405
Upto row 406
Upto row 407
Upto row 408
Upto row 409
Upto row 410
Upto row 411
Upto row 412
Upto row 413
Upto row 414
Upto row 415
Upto row 416
Upto row 417
Upto row 418
Upto row 419
Upto row 420
Upto row 421
Upto row 422
Upto row 423
Upto row 424
Upto row 425
Upto row 426
Upto row 427
Upto row 428
Upto row 429
Upto row 430
Upto row 431
Upto row 432
Upto row 433
Upto row 434
Upto row 435
Upto row 436
Upto row 437
Upto row 438
Upto row 439
Upto row 440
Upto row 441
Upto row 442
Upto row 443
Upto row 444
Upto row 445
Upto row 446
Upto row 447
Upto row 448
Upto row 449
Upto row 450
Upto row 451
Upto row 452
Upto row 453
Upto row 454
Upto row 455
Upto row 456
Upto row 457
Upto row 458
Upto row 459
Upto row 460
Upto row 461
Upto row 462
Upto row 463
Upto row 464
Upto row 465
Upto row 466
Upto row 467
Upto row 468
Upto row 469
Upto row 470
Upto row 471
Upto row 472
Upto row 473
Upto row 474
Upto row 475
Upto row 476
Upto row 477
Upto row 478
Upto row 479
Upto row 480
Upto row 481
Upto row 482
Upto row 483
Upto row 484
Upto row 485
Upto row 486
Upto row 487
Upto row 488
Upto row 489
Upto row 490
Upto row 491
Upto row 492
Upto row 493
Upto row 494
Upto row 495
Upto row 496
Upto row 497
Upto row 498
Upto row 499
Upto row 500
Upto row 501
Upto row 502
Upto row 503
Upto row 504
Upto row 505
Upto row 506
Upto row 507
Upto row 508
Upto row 509
Upto row 510
Upto row 511
Upto row 512
Upto row 513
Upto row 514
Upto row 515
Upto row 516
Upto row 517
Upto row 518
Upto row 519
Upto row 520
Upto row 521
Upto row 522
Upto row 523
Upto row 524
Upto row 525
Upto row 526
Upto row 527
Upto row 528
Upto row 529
Upto row 530
Upto row 531
Upto row 532
Upto row 533
Upto row 534
Upto row 535
Upto row 536
Upto row 537
Upto row 538
Upto row 539
Upto row 540
Upto row 541
Upto row 542
Upto row 543
Upto row 544
Upto row 545
Upto row 546
Upto row 547
Upto row 548
Upto row 549
Upto row 550
Upto row 551
Upto row 552
Upto row 553
Upto row 554
Upto row 555
Upto row 556
Upto row 557
Upto row 558
Upto row 559
Upto row 560
Upto row 561
Upto row 562
Upto row 563
Upto row 564
Upto row 565
Upto row 566
Upto row 567
Upto row 568
Upto row 569
Upto row 570
Upto row 571
Upto row 572
Upto row 573
Upto row 574
Upto row 575
Upto row 576
Upto row 577
Upto row 578
Upto row 579
Upto row 580
Upto row 581
Upto row 582
Upto row 583
Upto row 584
Upto row 585
Upto row 586
Upto row 587
Upto row 588
Upto row 589
Upto row 590
Upto row 591
Upto row 592
Upto row 593
Upto row 594
Upto row 595
Upto row 596
Upto row 597
Upto row 598
Upto row 599
Upto row 600
Upto row 601
Upto row 602
Upto row 603
Upto row 604
Upto row 605
Upto row 606
Upto row 607
Upto row 608
Upto row 609
Upto row 610
Upto row 611
Upto row 612
Upto row 613
Upto row 614
Upto row 615
Upto row 616
Upto row 617
Upto row 618
Upto row 619
Upto row 620
Upto row 621
Upto row 622
Upto row 623
Upto row 624
Upto row 625
Upto row 626
Upto row 627
Upto row 628
Upto row 629
Upto row 630
Upto row 631
Upto row 632
Upto row 633
Upto row 634
Upto row 635
Upto row 636
Upto row 637
Upto row 638
Upto row 639
Upto row 640
Upto row 641
Upto row 642
Upto row 643
Upto row 644
Upto row 645
Upto row 646
Upto row 647
Upto row 648
Upto row 649
Upto row 650
Upto row 651
Upto row 652
Upto row 653
Upto row 654
Upto row 655
Upto row 656
Upto row 657
Upto row 658
Upto row 659
Upto row 660
Upto row 661
Upto row 662
Upto row 663
Upto row 664
Upto row 665
Upto row 666
Upto row 667
Upto row 668
Upto row 669
Upto row 670
Upto row 671
Upto row 672
Upto row 673
Upto row 674
Upto row 675
Upto row 676
Upto row 677
Upto row 678
Upto row 679
Upto row 680
Upto row 681
Upto row 682
Upto row 683
Upto row 684
Upto row 685
Upto row 686
Upto row 687
Upto row 688
Upto row 689
Upto row 690
Upto row 691
Upto row 692
Upto row 693
Upto row 694
Upto row 695
Upto row 696
Upto row 697
Upto row 698
Upto row 699
Upto row 700
Upto row 701
Upto row 702
Upto row 703
Upto row 704
Upto row 705
Upto row 706
Upto row 707
Upto row 708
Upto row 709
Upto row 710
Upto row 711
Upto row 712
Upto row 713
Upto row 714
Upto row 715
Upto row 716
Upto row 717
Upto row 718
Upto row 719
Upto row 720
Upto row 721
Upto row 722
Upto row 723
Upto row 724
Upto row 725
Upto row 726
Upto row 727
Upto row 728
Upto row 729
Upto row 730
Upto row 731
Upto row 732
Upto row 733
Upto row 734
Upto row 735
Upto row 736
Upto row 737
Upto row 738
Upto row 739
Upto row 740
Upto row 741
Upto row 742
Upto row 743
Upto row 744
Upto row 745
Upto row 746
Upto row 747
Upto row 748
Upto row 749
Upto row 750
Upto row 751
Upto row 752
Upto row 753
Upto row 754
Upto row 755
Upto row 756
Upto row 757
Upto row 758
Upto row 759
Upto row 760
Upto row 761
Upto row 762
Upto row 763
Upto row 764
Upto row 765
Upto row 766
Upto row 767
Upto row 768
Upto row 769
Upto row 770
Upto row 771
Upto row 772
Upto row 773
Upto row 774
Upto row 775
Upto row 776
Upto row 777
Upto row 778
Upto row 779
Upto row 780
Upto row 781
Upto row 782
Upto row 783
Upto row 784
Upto row 785
Upto row 786
Upto row 787
Upto row 788
Upto row 789
Upto row 790
Upto row 791
Upto row 792
Upto row 793
Upto row 794
Upto row 795
Upto row 796
Upto row 797
Upto row 798
Upto row 799
Upto row 800
Upto row 801
Upto row 802
Upto row 803
Upto row 804
Upto row 805
Upto row 806
Upto row 807
Upto row 808
Upto row 809
Upto row 810
Upto row 811
Upto row 812
Upto row 813
Upto row 814
Upto row 815
Upto row 816
Upto row 817
Upto row 818
Upto row 819
Upto row 820
Upto row 821
Upto row 822
Upto row 823
Upto row 824
Upto row 825
Upto row 826
Upto row 827
Upto row 828
Upto row 829
Upto row 830
Upto row 831
Upto row 832
Upto row 833
Upto row 834
Upto row 835
Upto row 836
Upto row 837
Upto row 838
Upto row 839
Upto row 840
Upto row 841
Upto row 842
Upto row 843
Upto row 844
Upto row 845
Upto row 846
Upto row 847
Upto row 848
Upto row 849
Upto row 850
Upto row 851
Upto row 852
Upto row 853
Upto row 854
Upto row 855
Upto row 856
Upto row 857
Upto row 858
Upto row 859
Upto row 860
Upto row 861
Upto row 862
Upto row 863
Upto row 864
Upto row 865
Upto row 866
Upto row 867
Upto row 868
Upto row 869
Upto row 870
Upto row 871
Upto row 872
Upto row 873
Upto row 874
Upto row 875
Upto row 876
Upto row 877
Upto row 878
Upto row 879
Upto row 880
Upto row 881
Upto row 882
Upto row 883
Upto row 884
Upto row 885
Upto row 886
Upto row 887
Upto row 888
Upto row 889
Upto row 890
Upto row 891
Upto row 892
Upto row 893
Upto row 894
Upto row 895
Upto row 896
Upto row 897
Upto row 898
Upto row 899
Upto row 900
Upto row 901
Upto row 902
Upto row 903
Upto row 904
Upto row 905
Upto row 906
Upto row 907
Upto row 908
Upto row 909
Upto row 910
Upto row 911
Upto row 912
Upto row 913
Upto row 914
Upto row 915
Upto row 916
Upto row 917
Upto row 918
Upto row 919
Upto row 920
Upto row 921
Upto row 922
Upto row 923
Upto row 924
Upto row 925
Upto row 926
Upto row 927
Upto row 928
Upto row 929
Upto row 930
Upto row 931
Upto row 932
Upto row 933
Upto row 934
Upto row 935
Upto row 936
Upto row 937
Upto row 938
Upto row 939
Upto row 940
Upto row 941
Upto row 942
Upto row 943
Upto row 944
Upto row 945
Upto row 946
Upto row 947
Upto row 948
Upto row 949
Upto row 950
Upto row 951
Upto row 952
Upto row 953
Upto row 954
Upto row 955
Upto row 956
Upto row 957
Upto row 958
Upto row 959
Upto row 960
Upto row 961
Upto row 962
Upto row 963
Upto row 964
Upto row 965
Upto row 966
Upto row 967
Upto row 968
Upto row 969
Upto row 970
Upto row 971
Upto row 972
Upto row 973
Upto row 974
Upto row 975
Upto row 976
Upto row 977
Upto row 978
Upto row 979
Upto row 980
Upto row 981
Upto row 982
Upto row 983
Upto row 984
Upto row 985
Upto row 986
Upto row 987
Upto row 988
Upto row 989
Upto row 990
Upto row 991
Upto row 992
Upto row 993
Upto row 994
Upto row 995
Upto row 996
Upto row 997
Upto row 998
Upto row 999
Upto row 1000
Upto row 1001
Upto row 1002
Upto row 1003
Upto row 1004
Upto row 1005
Upto row 1006
Upto row 1007
Upto row 1008
Upto row 1009
Upto row 1010
Upto row 1011
Upto row 1012
Upto row 1013
Upto row 1014
Upto row 1015
Upto row 1016
Upto row 1017
Upto row 1018
Upto row 1019
Upto row 1020
Upto row 1021
Upto row 1022
Upto row 1023
Upto row 1024
Upto row 1025
Upto row 1026
Upto row 1027
Upto row 1028
Upto row 1029
Upto row 1030
Upto row 1031
Upto row 1032
Upto row 1033
Upto row 1034
Upto row 1035
Upto row 1036
Upto row 1037
Upto row 1038
Upto row 1039
Upto row 1040
Upto row 1041
Upto row 1042
Upto row 1043
Upto row 1044
Upto row 1045
Upto row 1046
Upto row 1047
Upto row 1048
Upto row 1049
Upto row 1050
Upto row 1051
Upto row 1052
Upto row 1053
Upto row 1054
Upto row 1055
Upto row 1056
Upto row 1057
Upto row 1058
Upto row 1059
Upto row 1060
Upto row 1061
Upto row 1062
Upto row 1063
Upto row 1064
Upto row 1065
Upto row 1066
Upto row 1067
Upto row 1068
Upto row 1069
Upto row 1070
Upto row 1071
Upto row 1072
Upto row 1073
Upto row 1074
Upto row 1075
Upto row 1076
Upto row 1077
Upto row 1078
Upto row 1079
Upto row 1080
Upto row 1081
Upto row 1082
Upto row 1083
Upto row 1084
Upto row 1085
Upto row 1086
Upto row 1087
Upto row 1088
Upto row 1089
Upto row 1090
Upto row 1091
Upto row 1092
Upto row 1093
Upto row 1094
Upto row 1095
Upto row 1096
Upto row 1097
Upto row 1098
Upto row 1099
Upto row 1100
Upto row 1101
Upto row 1102
Upto row 1103
Upto row 1104
Upto row 1105
Upto row 1106
Upto row 1107
Upto row 1108
Upto row 1109
Upto row 1110
Upto row 1111
Upto row 1112
Upto row 1113
Upto row 1114
Upto row 1115
Upto row 1116
Upto row 1117
Upto row 1118
Upto row 1119
Upto row 1120
Upto row 1121
Upto row 1122
Upto row 1123
Upto row 1124
Upto row 1125
Upto row 1126
Upto row 1127
Upto row 1128
Upto row 1129
Upto row 1130
Upto row 1131
Upto row 1132
Upto row 1133
Upto row 1134
Upto row 1135
Upto row 1136
Upto row 1137
Upto row 1138
Upto row 1139
Upto row 1140
Upto row 1141
Upto row 1142
Upto row 1143
Upto row 1144
Upto row 1145
Upto row 1146
Upto row 1147
Upto row 1148
Upto row 1149
Upto row 1150
Upto row 1151
Upto row 1152
Upto row 1153
Upto row 1154
Upto row 1155
Upto row 1156
Upto row 1157
Upto row 1158
Upto row 1159
Upto row 1160
Upto row 1161
Upto row 1162
Upto row 1163
Upto row 1164
Upto row 1165
Upto row 1166
Upto row 1167
Upto row 1168
Upto row 1169
Upto row 1170
Upto row 1171
Upto row 1172
Upto row 1173
Upto row 1174
Upto row 1175
Upto row 1176
Upto row 1177
Upto row 1178
Upto row 1179
Upto row 1180
Upto row 1181
Upto row 1182
Upto row 1183
Upto row 1184
Upto row 1185
Upto row 1186
Upto row 1187
Upto row 1188
Upto row 1189
Upto row 1190
Upto row 1191
Upto row 1192
Upto row 1193
Upto row 1194
Upto row 1195
Upto row 1196
Upto row 1197
Upto row 1198
Upto row 1199
Upto row 1200
Upto row 1201
Upto row 1202
Upto row 1203
Upto row 1204
Upto row 1205
Upto row 1206
Upto row 1207
Upto row 1208
Upto row 1209
Upto row 1210
Upto row 1211
Upto row 1212
Upto row 1213
Upto row 1214
Upto row 1215
Upto row 1216
Upto row 1217
Upto row 1218
Upto row 1219
Upto row 1220
Upto row 1221
Upto row 1222
Upto row 1223
Upto row 1224
Upto row 1225
Upto row 1226
Upto row 1227
Upto row 1228
Upto row 1229
Upto row 1230
Upto row 1231
Upto row 1232
Upto row 1233
Upto row 1234
Upto row 1235
Upto row 1236
Upto row 1237
Upto row 1238
Upto row 1239
Upto row 1240
Upto row 1241
Upto row 1242
Upto row 1243
Upto row 1244
Upto row 1245
Upto row 1246
Upto row 1247
Upto row 1248
Upto row 1249
Upto row 1250
Upto row 1251
Upto row 1252
Upto row 1253
Upto row 1254
Upto row 1255
Upto row 1256
Upto row 1257
Upto row 1258
Upto row 1259
Upto row 1260
Upto row 1261
Upto row 1262
Upto row 1263
Upto row 1264
Upto row 1265
Upto row 1266
Upto row 1267
Upto row 1268
Upto row 1269
Upto row 1270
Upto row 1271
Upto row 1272
Upto row 1273
Upto row 1274
Upto row 1275
Upto row 1276
Upto row 1277
Upto row 1278
Upto row 1279
Upto row 1280
Upto row 1281
Upto row 1282
Upto row 1283
Upto row 1284
Upto row 1285
Upto row 1286
Upto row 1287
Upto row 1288
Upto row 1289
Upto row 1290
Upto row 1291
Upto row 1292
Upto row 1293
Upto row 1294
Upto row 1295
Upto row 1296
Upto row 1297
Upto row 1298
Upto row 1299
Upto row 1300
Upto row 1301
Upto row 1302
Upto row 1303
Upto row 1304
Upto row 1305
Upto row 1306
Upto row 1307
Upto row 1308
Upto row 1309
Upto row 1310
Upto row 1311
Upto row 1312
Upto row 1313
Upto row 1314
Upto row 1315
Upto row 1316
Upto row 1317
Upto row 1318
Upto row 1319
Upto row 1320
Upto row 1321
Upto row 1322
Upto row 1323
Upto row 1324
Upto row 1325
Upto row 1326
Upto row 1327
Upto row 1328
Upto row 1329
Upto row 1330
Upto row 1331
Upto row 1332
Upto row 1333
Upto row 1334
Upto row 1335
Upto row 1336
Upto row 1337
Upto row 1338
Upto row 1339
Upto row 1340
Upto row 1341
Upto row 1342
Upto row 1343
Upto row 1344
Upto row 1345
Upto row 1346
Upto row 1347
Upto row 1348
Upto row 1349
Upto row 1350
Upto row 1351
Upto row 1352
Upto row 1353
Upto row 1354
Upto row 1355
Upto row 1356
Upto row 1357
Upto row 1358
Upto row 1359
Upto row 1360
Upto row 1361
Upto row 1362
Upto row 1363
Upto row 1364
Upto row 1365
Upto row 1366
Upto row 1367
Upto row 1368
Upto row 1369
Upto row 1370
Upto row 1371
Upto row 1372
Upto row 1373
Upto row 1374
Upto row 1375
Upto row 1376
Upto row 1377
Upto row 1378
Upto row 1379
Upto row 1380
Upto row 1381
Upto row 1382
Upto row 1383
Upto row 1384
Upto row 1385
Upto row 1386
Upto row 1387
Upto row 1388
Upto row 1389
Upto row 1390
Upto row 1391
Upto row 1392
Upto row 1393
Upto row 1394
Upto row 1395
Upto row 1396
Upto row 1397
Upto row 1398
Upto row 1399
Upto row 1400
Upto row 1401
Upto row 1402
Upto row 1403
Upto row 1404
Upto row 1405
Upto row 1406
Upto row 1407
Upto row 1408
Upto row 1409
Upto row 1410
Upto row 1411
Upto row 1412
Upto row 1413
Upto row 1414
Upto row 1415
Upto row 1416
Upto row 1417
Upto row 1418
Upto row 1419
Upto row 1420
Upto row 1421
Upto row 1422
Upto row 1423
Upto row 1424
Upto row 1425
Upto row 1426
Upto row 1427
Upto row 1428
Upto row 1429
Upto row 1430
Upto row 1431
Upto row 1432
Upto row 1433
Upto row 1434
Upto row 1435
Upto row 1436
Upto row 1437
Upto row 1438
Upto row 1439
Upto row 1440
Upto row 1441
Upto row 1442
Upto row 1443
Upto row 1444
Upto row 1445
Upto row 1446
Upto row 1447
Upto row 1448
Upto row 1449
Upto row 1450
Upto row 1451
Upto row 1452
Upto row 1453
Upto row 1454
Upto row 1455
Upto row 1456
Upto row 1457
Upto row 1458
Upto row 1459
Upto row 1460
Upto row 1461
Upto row 1462
Upto row 1463
Upto row 1464
Upto row 1465
Upto row 1466
Upto row 1467
Upto row 1468
Upto row 1469
Upto row 1470
Upto row 1471
Upto row 1472
Upto row 1473
Upto row 1474
Upto row 1475
Upto row 1476
Upto row 1477
Upto row 1478
Upto row 1479
Upto row 1480
Upto row 1481
Upto row 1482
Upto row 1483
Upto row 1484
Upto row 1485
Upto row 1486
Upto row 1487
Upto row 1488
Upto row 1489
Upto row 1490
Upto row 1491
Upto row 1492
Upto row 1493
Upto row 1494
Upto row 1495
Upto row 1496
Upto row 1497
Upto row 1498
Upto row 1499
Upto row 1500
Upto row 1501
Upto row 1502

In [ ]:
# Ensure file exists
model_dir = "saved_models/knn/jac_sims.pkl" 
file = open(model_dir, 'a')
file.close()

# Save model
print("Saving model...")
with open(model_dir, 'wb') as file:
    pickle.dump([train_data, knn._sims], file)
print("Done saving model.")

In [18]:
train_data.search_title('fishing')

[('Fishing Planet', 426),
 ('SEGA Bass Fishing', 90),
 ('Fishing: Barents Sea', 868),
 ('Russian Fishing 4', 957),
 ('Cat Goes Fishing', 348),
 ('Fishing: North Atlantic - Enhanced Edition', 1462),
 ("Luna's Fishing Garden", 1637),
 ('Fishing Sim World®: Pro Tour', 998),
 ('Fishing Paradiso', 1962)]

In [19]:
prefs = train_data.create_prefs([(426, 1)])
top = knn.top_n(13, 10, prefs=prefs)
pprint(top)
pprint([train_data.index_to_title(i) for r, i in top])

[(0.03969128996692393, 957),
 (0.03064798598949212, 677),
 (0.0241234221598878, 500),
 (0.023066485753052916, 181),
 (0.02171767028627838, 510),
 (0.020780856423173802, 263),
 (0.020535714285714286, 328),
 (0.01904296875, 272),
 (0.01866151866151866, 1043),
 (0.018404907975460124, 26)]
['Russian Fishing 4',
 'theHunter: Call of the Wild™',
 'American Truck Simulator',
 'DCS World Steam Edition',
 'Governor of Poker 3',
 'theHunter Classic',
 'Gems of War - Puzzle RPG',
 'Unturned',
 'Farming Simulator 19',
 'EVE Online']

In [22]:
ens_knn = EnsembleKNN(k=40)
ens_knn.set_sims([(knn._sims, 1)])

In [23]:
train_data.search_title('fishing')

[('Fishing Planet', 426),
 ('SEGA Bass Fishing', 90),
 ('Fishing: Barents Sea', 868),
 ('Russian Fishing 4', 957),
 ('Cat Goes Fishing', 348),
 ('Fishing: North Atlantic - Enhanced Edition', 1462),
 ("Luna's Fishing Garden", 1637),
 ('Fishing Sim World®: Pro Tour', 998),
 ('Fishing Paradiso', 1962)]

In [24]:
prefs = train_data.create_prefs([(426, 1)])
top = ens_knn.top_n(13, 10, prefs=prefs)
pprint(top)
pprint([train_data.index_to_title(i) for r, i in top])

[(0.03969128996692393, 957),
 (0.03064798598949212, 677),
 (0.0241234221598878, 500),
 (0.023066485753052916, 181),
 (0.02171767028627838, 510),
 (0.020780856423173802, 263),
 (0.020535714285714286, 328),
 (0.01904296875, 272),
 (0.01866151866151866, 1043),
 (0.018404907975460124, 26)]
['Russian Fishing 4',
 'theHunter: Call of the Wild™',
 'American Truck Simulator',
 'DCS World Steam Edition',
 'Governor of Poker 3',
 'theHunter Classic',
 'Gems of War - Puzzle RPG',
 'Unturned',
 'Farming Simulator 19',
 'EVE Online']

In [25]:
# Ensure file exists
model_dir = "saved_models/knn/ens_knn.pkl" 
file = open(model_dir, 'a')
file.close()

# Save model
print("Saving model...")
with open(model_dir, 'wb') as file:
    pickle.dump([train_data, ens_knn], file)
print("Done saving model.")

Saving model...
Done saving model.