In [17]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])?  y

In [22]:
import pandas as pd
import time

In [23]:
SEED = 42

In [26]:
users = pd.read_csv('data/users.csv')
recs = pd.read_csv('data/recommendations.csv')
print("Shape", recs.shape)
recs.head()

Shape (14585291, 8)

,app_id,helpful,funny,date,is_recommended,hours,user_id,review_id
0,975370,0,0,2022-12-12,True,36.3,24170,0
1,304390,4,0,2017-02-17,False,11.5,1339,1
2,1085660,2,0,2019-11-17,True,336.5,110271,2
3,703080,0,0,2022-09-23,True,27.4,112510,3
4,526870,0,0,2021-01-10,True,7.9,11046,4

In [27]:
REVIEW_THRESH = 2
CHUNK_SIZE = 1e6

start_time = time.time()

# Lazily iterate chunks and filter users
with pd.read_csv('data/recommendations.csv', iterator=True, chunksize=CHUNK_SIZE) as reader:
    dfs = []
    total_reviews = 0
    for i, chunk in enumerate(reader):
        # Filter users with low number of reviews
        filtered_chunk = chunk[chunk['user_id'].isin(users[users['reviews'] >= REVIEW_THRESH]['user_id'])]
        dfs.append(filtered_chunk)
        
        total_reviews += filtered_chunk.shape[0]
        print("Filtering left", filtered_chunk.shape[0], "reviews in chunk", i)
        
    print("Total reviews after filter:", total_reviews)    
    pruned = pd.concat(dfs)
    pruned.to_csv('data/2plus.csv', index=False)

print("Finished in", time.time() - start_time, "seconds")

Filtering left 74671 reviews in chunk 0
Filtering left 74740 reviews in chunk 1
Filtering left 74672 reviews in chunk 2
Filtering left 74549 reviews in chunk 3
Filtering left 74700 reviews in chunk 4
Filtering left 74282 reviews in chunk 5
Filtering left 106160 reviews in chunk 6
Filtering left 108921 reviews in chunk 7
Filtering left 100868 reviews in chunk 8
Filtering left 118301 reviews in chunk 9
Filtering left 153160 reviews in chunk 10
Filtering left 111772 reviews in chunk 11
Filtering left 89388 reviews in chunk 12
Filtering left 157999 reviews in chunk 13
Filtering left 88351 reviews in chunk 14
Total reviews after filter: 1482534
Finished in 10.197040557861328 seconds

In [13]:
recs_sample = recs.sample(frac=0.3, axis=0, random_state=SEED)
print("Shape", recs_sample.shape)
recs_sample.head()

Shape (4375587, 8)

,app_id,helpful,funny,date,is_recommended,hours,user_id,review_id
12493077,292030,0,0,2022-01-04,True,98.8,7023042,12493077
12035277,635260,0,0,2021-04-23,True,6.8,1327642,12035277
13131298,678950,0,0,2019-12-27,True,79.5,6576635,13131298
2660716,1196590,2,2,2022-08-10,True,41.4,4213711,2660716
1177856,250900,0,0,2017-10-07,True,320.4,958290,1177856

In [14]:
recs_sample.to_csv('data/sample.csv', index=False)